cmake/config.cmake
ComPASS/_version.py
ComPASS/version_info

build/*
_skbuild/*
.vscode/*
.adr-dir/*

.eggs/*
*.so
*.pyc
__pycache__

tmp_*
output-*
build*
*.gdb_history
*.log
*.png
*.npz
*.vtu
*.pvd
*.pvtu
*.mesh
*.msh
*.out
.pytest_cache/
*.aux
*.pdf
*.spl
*.html

docs/doxygen/html
docs/doxygen/xml
docs/_build
docs/python_reference
public
*.css
