*.so
*.pyc
__pycache__

tmp_*
output-*
build*

*.log
*.png
*.npz
*.vtu
*.pvd
*.pvtu
*.mesh
*.msh
*.out
.pytest_cache/
*.aux
*.pdf
*.spl
*.html

docs/doxygen/html
docs/doxygen/xml
docs/_build
docs/python_reference
public
*.css
