click
inept
PyYAML
numpy
sortedcontainers
verstr
vtkwriters >= 0.0.8
petrelgridio >= 0.0.2

# Beware of the possible confusion with meshtools package by Szabolcs Dombi
# MeshTools

mpi4py
# Beware that your installation of petsc4py is in line with the
# PETSc library that you will use with ComPASS
# petsc4py
